<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tabla de Empleados</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Puesto</th>
				<th>Salario</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Juan</td>
				<td>Pérez García</td>
				<td>Gerente</td>
				<td>$50,000</td>
			</tr>
			<tr>
				<td>2</td>
				<td>María</td>
				<td>López Rodríguez</td>
				<td>Asistente</td>
				<td>$25,000</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Carlos</td>
				<td>González Pérez</td>
				<td>Contador</td>
				<td>$40,000</td>
			</tr>
			<!-- Agrega aquí más filas con información de empleados -->
		</tbody>
	</table>   
</body>
</html>